/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    color: var(--color-general-bg);
    font-family: 'Noto Sans', sans-serif;
}

/*containers*/
.container{
    max-width: 1200px;
}
.sc{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

/*colors*/
.bg-color{
    background-color: var(--color-nav-bg);
}
.bg{
    background-color: var(--color-nav-bg);
}
.black-text{
    color: var(--color-black);
}
.white-sec{
    background-color: var(--color-general-bg);
}
.grey-sec{
    background-color: var(--color-wave-grey);
}
body>footer{
    background-color: var(--color-black);
}
.middle-nav{
    text-decoration: none;
    color: var(--color-general-bg);
}
.button-property{
    border-radius: 15px;
    font-size: 14px;
    padding: 6px;
    text-decoration: none;
}
.button-style-wht{
    background-color: var(--color-general-bg);
    color: var(--color-black);
}
.button-style-blk{
    background-color: var(--color-black);
    color: var(--color-general-bg);
}
.button-style-ble{
    background-color: var(--color-contrast);
    color: var(--color-general-bg);
}
:root {
	--color-nav-bg: #255ee9;
	--color-general-bg: #ffffff;
	--color-contrast: #7289da;
	--color-wave-grey: #f6f6f6;
	--color-black: #23272a;
}

/*flex*/
.d-flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.align{
    align-items: center;
    align-content: center;
}
.row-reverse{
    flex-direction: row-reverse;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}

/*background*/
#jumbo{
    background-image: url('../img/jumbo.png');
    min-height: 450px;
    background-size: cover;
}
/*distances*/
#right h2{
    margin-top: 38px;
}

.pad{
    padding: 20px;
}
.pad-t{
    padding-top: 15px;
}
.pad-b{
    padding-bottom: 15px;
}
