/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    color: var(--color-general-bg);
    font-family: 'Noto Sans', sans-serif;
}
img { 
    max-width: 100%
}
/*containers*/
.container{
    max-width: 1200px;
}
.sc{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

/*colors*/
.bg-color{
    background-color: var(--color-nav-bg);
}
.bg{
    background-color: var(--color-nav-bg);
}
.black-text{
    color: var(--color-black);
}
.white-sec{
    background-color: var(--color-general-bg);
}
.grey-sec{
    background-color: var(--color-wave-grey);
}
body>footer{
    background-color: var(--color-black);
}
.middle-nav{
    text-decoration: none;
    color: var(--color-general-bg);
}
.button-property{
    border-radius: 15px;
    font-size: 14px;
    padding: 6px;
    text-decoration: none;
}
.button-style-wht{
    background-color: var(--color-general-bg);
    color: var(--color-black);
}
.button-style-blk{
    background-color: var(--color-black);
    color: var(--color-general-bg);
}
.button-style-ble{
    background-color: var(--color-contrast);
    color: var(--color-general-bg);
}
.list-title{
    color: var(--color-contrast);
}
:root {
	--color-nav-bg: #255ee9;
	--color-general-bg: #ffffff;
	--color-contrast: #7289da;
	--color-wave-grey: #f6f6f6;
	--color-black: #23272a;
}

/*text*/
.size-txt{
    font-size: 14px;
}
.size-txt-2{
    font-size: 11px;
}
.title-txt{
    font-size: 23px;
}
.size-ita{
    width: 20px;
}
.txt-align{
    text-align: left;
}
.margin-foot{
    margin-top: 5px;
    margin-bottom: 5px;
}
/*flex*/
.d-flex{
    display: flex;
}
.justify{
    justify-content: space-between;
}
.align{
    align-items: center;
    align-content: center;
}
.row-reverse{
    flex-direction: row-reverse;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}

/*background*/
#jumbo{
    background-image: url('../img/jumbo.png');
    min-height: 450px;
    background-size: cover;
}
.star{
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 50px;
    min-width: 300px;
}
/*distances*/
#right h2{
    margin-top: 38px;
}

.pad{
    padding: 20px;
}
.pad-t{
    padding-top: 10px;
}
.pad-b{
    padding-bottom: 15px;
}
.gap{
    gap: 16px;
}

/*hovers*/
.nav:hover{
    text-decoration: underline;
}

.ombra:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.kolor:hover{
    color: aqua;
}

/*svg*/
.wave{
    height: 100px;
    filter: opacity(0.04);
    background-image: url(../img/wave.svg);
}

.upside-down{
    transform: rotate(0.5turn);
}
